<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CRUD FIRST ORLANDO</title>
    
    <!--BOOTSTRAP 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <script src="Validacion.js"></script>

</head>
<style>
    body {
        background:url "D:\Copia de Seguridad (Mis Documentos)\Imagenes\Saved Pictures\175608-Sepik.jpg",#000;
        background-size:"cover"; 
    }
</style>

<body>

    
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">CRUD PERSONAL</a>
        
    </nav>